services:
  app:
    build:
      context: ./projekt
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: app
      DB_USER: postgres
      DB_PASSWORD: pass
    depends_on:
      - db
    networks:
      - backend
    container_name: app

  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    container_name: db

volumes:
  postgres_data:

networks:
  backend:
